.App-wrapper {
  height: 100vh;
  width: 100%;
}

.clear-day {
  color: #191970;
  background: url('/assets/alex-martinez-42902.jpg') #87CEEB no-repeat 0 0;
  background-size: cover;
}

.clear-night {
  color: #FFFAFA;
  background: url('/assets/nathan-anderson-82317.jpg') #2F4F4F no-repeat 0 0;
  background-size: cover;
}

.rain {
  color: #FFFAFA;
  background: url('/assets/veeterzy-60201.jpg') #2F4F4F no-repeat 0 0;
  background-size: cover;
}

.snow {

}

.sleet {

}

.wind {
}

.fog {
  color: #FFFAFA;
  background: url('/assets/seth-williams-1517.jpg') #2F4F4F no-repeat 0 0;
  background-size: cover;
}

.cloudy, .partly-cloudy-day {

}

.partly-cloudy-night {

}
