.App-wrapper {
  background-color: #2F4F4F;
  color: white;
  display: grid;
  font-family: 'Roboto', sans-serif;
  grid-template-columns: 2% 96% 2%;
  grid-template-rows: 20% 70% 10%;
  height: 100vh;
  position: relative;
  width: 100%;
}

.hidden {
  display: none;
}
